<a href="https://colab.research.google.com/github/AliKhyar/Data-structures-and-algorithms-with-Python/blob/master/AbstractClasse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from abc import ABCMeta, abstractmethod
class Book(object, metaclass=ABCMeta):
    def __init__(self,title,author):
        self.title=title
        self.author=author   
    @abstractmethod
    def display(): pass

#Write MyBook class
class MyBook(Book):
    def __init__(self,title,author,price):
        super().__init__(title,author)
        self.price = price
    
    def display(self):
        print(f'Title: {self.title} \nAuthor: {self.author} \nPrice:{self.price}')

title=input()
author=input()
price=int(input())
new_novel=MyBook(title,author,price)
new_novel.display()

haha
ana
15
Title: haha
Author: ana
Price:15