<a href="https://colab.research.google.com/github/AliKhyar/Data-structures-and-algorithms-with-Python/blob/master/CodeSignal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import time
start = time.process_time()
def centuryFromYear(year):
    if str(year)[-2:] == '00':
        return int(str(year)[:2])
    else:
        return int(str(year)[:2]) + 1
  

#year = int(input())
year = 1900
centuryFromYear(year)
print(time.process_time() - start)

0.00016485399999988104

In [18]:
import time
start = time.process_time()
def centuryFromYear(year):
    if year%100 == 0 :
        return 1524//100
    else:
        return 1524//100 + 1
  
#year = int(input())
year = 1900

centuryFromYear(year)
print(time.process_time() - start)

0.00014729400000002002

In [0]:
def adjacentElementsProduct(inputArray):
    max_product = inputArray[0] * inputArray[1]
    for i in range(1, len(inputArray) - 1):
        if inputArray[i] * inputArray[i + 1] > max_product:
            max_product = inputArray[i] * inputArray[i + 1]
    return max_product

In [27]:
def allLongestStrings(inputArray):
    max_length = len(max(inputArray, key=len))
    to_be_returned = []
    for val in inputArray:
        if len(val) == max_length:
            to_be_returned.append(val)
    return to_be_returned
arr = ["enyky", 
 "benyky", 
 "yely", 
 "varennyky"]

print(allLongestStrings(arr))

['varennyky']

In [30]:
arr1 = ["enyky", 
 "benyky", 
 "yely", 
 "varennyky"]
arr2 = ["enyky", 
 "benyky", 
 "yely", 
 "varennyky","15451"]
max(arr1,arr2, key=len)

['enyky', 'benyky', 'yely', 'varennyky', '15451']

In [35]:
def commonCharacterCount(s1, s2):
    d1 = dict()
    d2 = dict()
    for val in s1:
        if val not in d1:
            d1[val] = 1
        else:
            d1[val] += 1
    for val in s2:
        if val not in d2:
            d2[val] = 1
        else:
            d2[val] += 1
    # max_d = max(d1, d2, key=len)
    # min_d = min(d1, d2,key=len)
    # print(max_d)
    # print(min_d)
    count = 0
    for key in d1:
        try:
            common = min(d1[key], d2[key])
            count += common
        except:
            pass
    return count

s1 =  "aabcc"
s2 = "adcaa"
commonCharacterCount(s1, s2)

3

In [0]:
def isLucky(n):
    s = str(n)
    mid = len(s)//2
    first_half = sum([int(i) for i in s[:mid]])
    second_half = sum([int(i) for i in s[mid:]])
    return first_half == second_half

In [0]:
def sortByHeight(a):
    non_row = []
    for val in a:
        if val != -1:
            non_row.append(val)
    non_row.sort()
    j = 0
    for i in range(len(a)):
        if a[i] != -1:
            a[i] = non_row[j]
            j += 1
    return a

In [44]:
# def reverseInParentheses(inputString):
#     stack = Stack()
#     s = ''
#     for i in range(1,len(inputString)+1):
#         if inputString[-i] != ')':
#             stack.push(inputString[-i])
#         elif:
def reverseInParentheses(s):
    chars = list(s)
    open_bracket_indexes = []
    for i, c in enumerate(chars):
        if c == '(':
            open_bracket_indexes.append(i)
            #print('open_bracket_indexes: ',open_bracket_indexes)
        elif c == ')':
            j = open_bracket_indexes.pop()
            #print('Chars: ', chars[j:i],'   ',chars[i:j:-1])
            chars[j:i] = chars[i:j:-1]
    return ''.join(c for c in chars if c not in '()')


inputString = "foo(bar(baz))blim"
#"foobazrabblim"
reverseInParentheses(inputString)

'foobazrabblim'

In [45]:
def reverseInParentheses(s):
    return eval('"' + s.replace('(', '"+("').replace(')', '")[::-1]+"') + '"')
reverseInParentheses(inputString)

'foobazrabblim'